{% extends "base.html" %} {% block title %}WelcomeTo policy page!{% endblock %} {% block
content %}
<div class="container mt-5">
  {% if message %}
  <div class="alert alert-secondary" role="alert">
    <p>{{ message }}</p>
  </div>
  {% endif %}

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form
        action=""
        method="post"
        enctype="multipart/form-data"
        onsubmit="return disableSubmitButton()"
      >        
        <button type="submit" class="btn btn-primary" id="submitButton">
          Refresh
        </button>
        <small id="emailHelp" class="form-text text-muted"
            >google sheets here : https://docs.google.com/spreadsheets/d/1_LGcK9OX3ZmIAKLpyfIgwB6sAyAEyUDNYRT6qwvWV0M/edit?gid=0#gid=0</small
      </form>
    </div>
  </div>
</div>

<script>
  function disableSubmitButton() {
    const submitButton = document.getElementById("submitButton");
    submitButton.disabled = true;
    submitButton.innerText = "Submitting..."; // Change button text
    return true; // Allow form submission
  }
</script>
{% endblock %}
